* {
    margin-inline: auto;
    min-width:90% 1024px;

}
h1,h3,h2 {
    text-align: center;
    color: white;
    }
h1 {
    font-size: 30px;
}
.title {
    margin-top: 12%;
    }

.frontpage, .home {
    margin-top: min(15%);

    }
.Img {
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    margin-bottom: 3%;
    }
    
.logos {
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-size:x-large;
        line-height: 80px;
        margin-top: 15%;
    
    }
.log {
    margin-left: auto;
    margin-right: auto;
}