@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin-inline: auto;
    min-width:90% 1024px;
    font-family: 'Montserrat', 'sans-serif';

}
h1,h3,h2,p {
    text-align: center;
    color: white;
    }

.numberplate {
    font-size: small;
}
h1 {
    font-size: 30px;
}
.title {
    margin-top: 12%;
    }

.frontpage, .home {
    margin-top: min(20%);

    }
.Img {
    border-radius: 60%;
    display: block;
    margin-inline: auto;
    margin-bottom: 3%;
    }
    
.logos {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size:x-large;
    line-height: 80px;
    margin-top: 15%;
    
    }
.log {
    margin-left: auto;
    margin-right: auto;
}

.LogInPage {
    margin-top: 15%;
    padding: 30px;
}

.logTitle {
    font-size: xx-large;
}

.home {
    width: 60%;
    margin-top: 15%;

}
.Table {
    margin-top: 10%;
    color: azure;
}

.tableButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    --size: 90px;
}

.next {

    margin:5% 30%;
    padding: 10px 20px;
    overflow: hidden;
}
@media screen and (max-width: 769px) {
    .frontpage {
        margin-top: 45%;
    }
    .home {
        width: 95%;
        font-size: small;
        margin-top: 20%;
    }

    h1 {
        font-size: 20px;
    }

    .img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right:10px;
        margin-top: 3px;
    }
    }


@media screen and (max-width: 912px) {
    .frontpage {
        margin-top: 45%;
    }
    .home {
        width: 85%;
        margin-top: 20%;

    }
}

@media screen and (max-width: 576px) {
        .frontpage {
            margin-top: 45%;
        }
        h1 {
            font-size: 20px;
        }
        .img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right:10px;
            margin-top: 3px;
        }
        .home {
            font-size: small;
            width: 95%;
            margin-top: 30%;
        }
        }