@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

div{
    color:black;
    font-family: 'Montserrat', 'sans-serif';
}

.Map {
    margin-top: 90px;
    max-width: 100%;
    display: grid;
    position: relative;
}

.ComboboxInput {
    position: relative;
    display: flex;
    height:28px;
    border-radius: 10px;
    width:500px;
    background-color: #151515;
    border-style:double;
    border-width: 1px;
    text-transform: lowercase;
    text-align: center;
    display:block;
    margin:0 auto 15px;


  }
.locate {
    position: absolute;
    display: flex;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-top: 10px;
    transition: all 0.3s ease 0s;
    margin-right: 60px;
    background-color: transparent;
    border: none;
    color: rgb(37, 37, 37);

}


.nextReg {
  position: absolute;
  color: rgb(208, 0, 0);
  top: 0;
  right: 0;
  margin-top: 12px;
  transition: all 0.66s ease-out;
  margin-right: 110px;
  text-transform: uppercase;
  cursor: pointer;
}

.nextReg p {
  background-color: rgba(37, 37, 37, 0.602);
  padding: 10px 20px;
  font-size: small;
  transition: all 0.66s ease-out;

}

.Tallenna {
  border: none;
  background-color: rgb(192, 0, 0);
  color: white;
  font-size: small;
  border-radius: 5px;
  margin: 1px;
  padding: 4px 9px;
}

@media only screen and (min-width : 361px) and (max-width : 780px)
{
  .Map {
    margin-inline: auto;
 }
  .ComboboxInput {
		width:200px;
	}

  .nextReg {
    margin-right: 100px;
  
  }

  .locate {
    position: absolute;
    display: flex;
    cursor: pointer;
    right: 0;
    margin-top: 9px;
    transition: all 0.3s ease 0s;
    margin-right: 55px;
    border-radius: 50%;
    color: rgb(19, 22, 35);
}
}

@media only screen and (min-width : 320px) and (max-width : 360px)
{
  .ComboboxInput {
		width:170px;
	}

  
.nextReg {
  margin-right: 70px;

}

.infoWindow {
  width: 290px;
}

.locate {
    position: absolute;
    display: flex;
    cursor: pointer;
    margin-top: 65px;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    border-radius: 50%;
    color: rgb(21, 27, 54);
}

}

@media only screen and (min-width : 180px) and (max-width : 319px)
{
  .ComboboxInput {
		width:150px;
	}

  
.nextReg {
  margin-right: 6px;
  margin-top: 100px;

}

  .locate {
    position: absolute;
    display: flex;
    cursor: pointer;
    margin-top: 60px;
    transition: all 0.3s ease 0s;
    margin-right: 0;
    border-radius: 50%;
    color: rgb(21, 27, 54);
}

}