@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(23, 23, 23);
    height:100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: rgb(22, 22, 24);
    box-shadow: 0 5px 2px -2px rgb(13, 13, 13);
    height:80px
}
.logo {
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size:x-large;
    padding: 0 100px;
    line-height: 80px;
    margin-left: -7%;
    margin-right: -13%;

}

nav ul li {
    padding:0px 20px ;
    display:inline-block;

}
nav ul li a{
    transition: all 0.5s ease 0.2s;
    color: white;
}

nav ul .front a:hover{
    color:rgb(104, 205, 10);
    
}


nav ul .tili a:hover{
    color:rgb(241, 233, 13);
}

nav ul .kartta a:hover{
    color:rgb(224, 48, 17);
}

li, a, button {
    font-family : "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.logout {
    padding:9px 25px;
    background-color: rgb(32, 34, 37);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    float: right;
    margin-top: 5%;

}

.logout:hover {
    background-color: rgba(24, 24, 24, 0.8);
    color: darkred;
}

.Avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right:10px;
    margin-top: 3px;
}
