@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 56, 56);
    height:100%;
}
h2 {
    margin-right: auto;
    color: white;
    padding-left: 20px;
}

.nav_links {
    list-style: none;

}

.nav_links li{
    display: inline-block;
    padding:0px 20px ;
 
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    color: white;
}

ul .front a:hover{
    color:rgb(63, 130, 0)
}


ul .tili a:hover{
    color:rgb(219, 184, 9)
}

ul .kartta a:hover{
    color:rgb(134, 20, 0)
}


.cta {

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(36, 39, 39);
    box-shadow: 0 5px 2px -2px rgb(45, 52, 55);
    height: 70px;
}

li, a, button {
    font-family : "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

button {
    padding:9px 25px;
    background-color: rgb(49, 96, 150,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    margin-right: 1%;
}

button:hover {
    background-color: rgba(113, 18, 18, 0.8);
}

.Avatar {
    border-radius: 50%;
    display: block;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    margin-top: 2.5px;
  }
